
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(/assets/imagen/fondo.jfif);
    background-size: cover;
}

.titulo {
    background-color: #eeb8d3c2;
    color: #0a0a0a;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}

.titulo h1 {
    font-size: 24px;
    margin: 0;
}
.educacion {
    background-color: #fbfdfd25;
    padding: 10px; border-radius: 10px;
    margin: 10px;
    border: 1px solid #da45eb;
}

.educacion h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.sobremi {
    background-color: #fbfdfd25;
    padding: 10px; border-radius: 10px;
    margin: 10px;
    border: 1px solid #da45eb;
}

.sobremi h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.proyectos {
    background-color: #fbfdfd25;
    padding: 10px; border-radius: 10px;
    margin: 10px;
    border: 1px solid #da45eb;
}

.proyectos h3 {
    font-size: 18px;
    margin-bottom: 10px;
    
}

.hb {
    background-color: #fbfdfd25;
    padding: 10px; border-radius: 10px;
    margin: 10px;
    border: 1px solid #da45eb;
}

.hb h2 {
    font-size: 18px;
    margin-bottom: 10px;
}
.contacto {

    background-color: #fbfdfd25;
    padding: 10px; border-radius: 10px;
    margin: 10px;
    border: 1px solid #da45eb;   
} 
.contacto{
    text-align: center;
}
.idiomas{
    background-color: #fbfdfd25;
    padding: 10px; border-radius: 10px;
    margin: 10px;
    border: 1px solid #da45eb;
}

.contenedor{
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 40px;
    transform: scale(1.2);

}

.contenedor a:hover {
    font-size: 40px;
    transform: scale(1.2);
}
